<div class="container col col-md-12">
  <h2>Add New Sports Items</h2>
  
    <%= form_tag('/items', method: "post", class: 'form-horizontal') do %>
      <div class="form-group">
        <%= label_tag(:item_name, "Name of Item:", class: "col-sm-2 control-label") %>
        <div class="col-sm-10">
          <%= text_field_tag(:item_name, params[:item_name], class: 'form-control')  %>
        </div>
      </div>
      <%= label_tag(:category, "Category")%>
      <%= radio_button_tag :category, "indoor"%>Indoor
      <%= radio_button_tag :category, "outdoor"%>Outdoor<br>
      <%= label_tag(:brand_name, "Name of Brand:") %>
      <%= text_field_tag(:brand_name) %><br>
      <%= label_tag(:cost, "Price of the item")%>
      <%= text_field_tag(:cost)%><br>
      <%= label_tag(:quantity, "Quantity")%>
      <%= text_field_tag(:quantity)%><br>
      <%= submit_tag("Add") %>
    <% end %>
  
</div>